@import "tailwindcss/preflight";
@import "tailwindcss";

/* Your custom styles */
html, body {
    background: #ffffff;
    color: #0f0f0f;
    min-height: 100%;
    font-family: system-ui, sans-serif;
}
