@use '../../../app/assets/sass/variables';

.hero-section {
  background: linear-gradient(109.42deg, variables.$secondary 0%, variables.$primary 88.87%, variables.$secondary 175.91%);
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 80vh;
  @media (max-width: 760px) {
    height: 100vh;
  }

  @media (max-width: 992px) {
    text-align: center;
  }
  @media (max-width: 769px) {
    padding: 120px 0 0 0;
  }
}

.hero-title {
  font-weight: 700;
  font-size: clamp(2.5rem, 4vw + 1rem, 4.75rem);
}


.hero-divider {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.87);
  margin-top: 40px;
}


.hero-section .row {
  display: flex;
  flex-wrap: wrap;
}

.hero-section .col-md-6.text-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media (min-width: 760px) {
    height: 80vh;
  }

}
