@use "./../../../app/assets/sass/variables";


.about-banner {
  background: linear-gradient(109.42deg, variables.$secondary 0%, variables.$primary 88.87%, variables.$secondary 175.91%);
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 120px 0 0 0;

  @media (max-width: 760px) {
    height: 100vh;
  }

  @media (max-width: 992px) {
    text-align: center;
  }
}