

/* Variables and Mixins */
@use '../app/assets/sass/variables' as *;

/* Global Styles */
@use '../app/assets/sass/main' as *;

/* Sections */
@use '../app/assets/sass/header' as *;


:root {
  --font-heading: var(--font-space);
  --font-body: var(--font-manrope);
}
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}

