@import "tailwindcss/preflight";
@import "tailwindcss";
@import "assets/sass/header.scss";
@import "assets/sass/home.scss";

/* Your custom styles */
html, body {
    background: #ffffff;
    color: #0f0f0f;
    min-height: 100%;
    font-family: system-ui, sans-serif;
}
