// Stats / Fun Facts Container
@use '../../../app/assets/sass/variables';
.stats-section {
  background-color: variables.$primary-bg;
  padding: 4rem 0;
  color: #ffffff;
  width: 100%;
  overflow: hidden;

  .stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.3s ease;

    // Vertical Divider line
    &.with-border {
      border-right: 1px solid rgba(255, 254, 254, 0.56);
    }

    .stat-icon {
      flex-shrink: 0;
      color: #ffffff;
      opacity: 0.95;
      svg {
        stroke-width: 1.5px;
        width: 48px; // Slightly larger to match image prominence
        height: 48px;
      }
    }

    .stat-content {
      text-align: left;

      .stat-number {
        font-family: var(--font-heading), serif;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        line-height: 1;
      }

      .stat-label {
        font-family: var(--font-body), serif;
        font-size: 1rem;
        margin: 5px 0 0 0;
        opacity: 0.9;
        font-weight: 400;
        line-height: 1.3;
        max-width: 160px;
        text-transform: capitalize;
      }
    }
    &:hover{
      transform: scale(1.2) rotate(5deg);
      transform: translateY(-10px);
    }
  }

  // Responsive
  @media (max-width: 991px) {
    .stat-item {
      &.with-border {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
      }

      justify-content: flex-start;
      padding-left: 15%;
    }
  }

  @media (max-width: 767px) {
    .stat-item {
      padding-left: 0;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem;

      .stat-content {
        text-align: center;

        .stat-label {
          max-width: 100%;
        }
      }
    }
  }
}