@use "./../../app/assets/sass/variables";
@use "sass:color";
.contact-banner {
  background: linear-gradient(90deg, rgba(variables.$primary-bg, 0.85) 0%, rgba(variables.$secondary, 0.85) 100%), url('../../../public/images/contact-RevionTech.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0; /* Adjust padding as needed */
  text-align: center;
  color: variables.$text-light;
  overflow: hidden; // Important for Framer Motion entrance animations
  position: relative;

  .contact-banner-content {
    h2 {
      font-size: clamp(2.5rem, 4vw + 1rem, 4.75rem);
      font-weight: 700;
      margin-bottom: 25px;
      line-height: 1.2;

      span {
        color: variables.$primary; /* Highlight key words with primary color */
      }
    }

    p {
      font-size: 1.2rem;
      max-width: 700px; /* Constrain paragraph width */
      margin: 0 auto 35px auto; /* Center paragraph and add bottom margin */
      color: color.adjust(variables.$text-light, $lightness: 10%); /* Slightly lighter text for contrast */

      @media (max-width: 767.98px) {
        font-size: 1rem;
        max-width: 90%;
      }
    }
  }
}